{% extends "base.html" %}
<!--External links are differentiated on home page.-->
{% block templatestyles %}

{% endblock templatestyles %}

{% block image %}
  <meta name="twitter:image" content="https://media.urbit.org/logo/urbit-logo-card.png">
{% endblock image %}

{% block bodyclasses %}class="index"{% endblock bodyclasses %}

{% block title %}
  <meta name="og:title" content="{{ config.title }} - Your personal server">
  <title>{{ config.title }} - TGS makerspace</title>
{% endblock title %}
{% block description %}
  <meta name="og:description" content="Te Wahi Auaha is a makerspace based at Takapuna Grammar School, Tāmaki Makaurau.">
  <meta name="description" content="Te Wahi Auaha is a makerspace based at Takapuna Grammar School, Tāmaki Makaurau.">
{% endblock description %}
{% block content %}

<section class="full lh-copy c2-7-md c3-7-lg mt6 mb6">
  <p class="mt0 mb4"><strong>Te Wahi Auaha</strong> is a makerspace based at Takapuna Grammar School, Tāmaki Makaurau.</p>
  <p>Open to students and staff, the vision of Te Wahi is to utilise new emerging technologies across different subject areas.</p>
  <p class="mb4">It's an open space with facilities for 3D printing, laser cutting, augmented reality, digital modeling and animation.</p>
  <p class="mb4">Nau mai, haere mai. Welcome to Te Wahi.</p>
</section>

<section class="full lh-copy c7-12-md c7-11-lg mt6 mb6">
  <video class="vid-insert bg-black" id="ocean" autoplay="" muted="" loop="" poster="https://media.urbit.org/site/sea30-poster.jpg">
  </video>
</section>



<section class="full lh-copy c2-7-md c3-7-lg mb6">
  <ul class="list mt0">
    <li class="mt0">
      <a class="bb" href="/understanding-urbit">ZBrush docs</a><br />
      A way of creating 3D sculptures from scratch.
    </li>
    <li class="mt3">
      <a class="b--blue2 blue2 bb" href="/using/install/">Meshmixer docs</a><br />
      A way of combining 3D models and creating something new.
    </li>
    <li class="mt3">
      <a class="b--green2 green2 bb" href="/docs/">Thingiverse</a><br />
      A way to download existing 3D models online.
    </li>
    <li class="mt3">
      <a class="b--red2 red2 bb" href="/docs/">Fusion 360</a><br />
      A way to create accurate 3D models for printing and fabrication.
    </li>
  </ul>
</section>


<section class="full lh-copy c7-12-md c7-11-lg" id="follow">
  <p class="lh-copy mt1 mb3">
      We send regular updates and notices about Te Wahi. Enter your email to get them.
    </p>
    <iframe name="nothing" style="display:none;"></iframe>
    <form
      action="https://urbit.us11.list-manage.com/subscribe/post?u=972a03db9e0c6c25bb58de8c8&amp;amp;id=be143888d2"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate form"
      target="_blank"
      novalidate>
      <div class="input-group" id="mc_embed_signup_scroll">
        <div class="mc-field-group w-100 relative">
          <input
            class="bg-white black b--black ba pa3 w-100 mb2 br0 wk-appearance-none"
            type="email"
            name="EMAIL"
            id="mce-EMAIL"
            placeholder="your@email.com"/>
          <button
            id="mc-embedded-subscribe"
            class="dib bn absolute bg-transparent"
            style="font-family: 'Inter UI', san-serif; right: 3px; top: 15px; -webkit-appearance: none;"
            type="submit"
            name="subscribe"
            onclick="_paq.push(['trackEvent', 'Mailing List', 'Subscribe'])">
            <span class="fr pr1">-></span>
          </button>
        </div>
      </div>
    </form>
  <p class="lh-copy">
      Follow us on <a class="b--black bb" href="https://instagram.com/tewahi">Instagram</a>
  </p>
</section>

<!--{% include "partials/footer.html" %}-->
{% endblock content %}
